header {
	height: 70px;
	width: 100%; 
	border-bottom: 1px solid #CCCCCC;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat, repeat;
	background-position-x: 20px;
	color:white;
}
